# Ambientes Virtuais
.venv/
venv/
env/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Logs Locais do I Love Security (Privacidade)
logs/
*.log

# Pastas Temporárias e IDE
TEMPORARIO/
.vscode/

# Arquivos de sistema do Windows
Thumbs.db
Desktop.ini
